:root {
  --tamano-inicial: 20%;
  --tamano-transformado: 8%;
  --color: yellow;
}

.principal{
  height: 100%;
  /* background-color: rgba(255, 255, 255,.9); */
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.main_{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2rem;
  /* justify-content: center; */
  overflow: hidden;
}
.maquetacion{
  height: 100%;
  position: relative;
  display: grid;
  box-sizing: border-box;
  grid:
    "sidebar" 5rem
    "main_" 20rem
  ;
  /* grid-template-columns: var(--tamano-inicial) auto; */
  /* grid-template-rows: 100% 100%; */
  /* height: 100%; */
  /* transition: grid-template-columns 0.5s ease; */
}

.sidebar {
  grid-column: span 1;
  grid-row: span 2;
  /* background-color: lightgray; */
  padding: 1rem;
}

.main_{
  grid-column: span 1;
  grid-row: span 2;
  /* background-color: lightblue; */
  padding: 1rem;
  /* display: normal; */
}


@media (min-width: 480px) {
  .maquetacion{
    display: grid;
    grid:
      "sidebar main_" auto / 15rem auto;
  }
  .maquetacion.toggle{
    display: grid;
    grid:
      "sidebar main_" auto / 5rem auto;
  }
}
@media (max-width: 480px) {
  .maquetacion.toggle{
    display: grid;
    grid:
      "sidebar" 3rem
      "main_" 10rem;
  }
  .maquetacion{
    display: grid;
    grid:
      "sidebar" 100%
      "main_" 0rem;
  }
  .maquetacion > .sidebar{
    /* height: 100vh; */
  }
  .maquetacion > .main_{
    display: none;
    overflow: hidden;
  }
  .maquetacion.toggle > .main_{
    height: auto;
    overflow: hidden;
  }
  /* .maquetacion{
    display: grid;
    grid:
      "sidebar" 100vh
      "main_" 25rem;
  } */
 
  
}

/* @media screen and (max-with:1920px){
}
@media screen and (max-width:840px){
  .maquetacion{
    position: relative;
    display: grid;
    box-sizing: border-box;
    grid-template-rows: 5rem auto;
  }
} */
/* .maquetacion.toggle{
  display: grid;
  grid-template-columns: var(--tamano-transformado) auto;
  grid-template-rows: 100vh;
} */
body{
  /* background-color: hsl(300, 100%, 25%); */
}
h3{
  color: var(--color);
}
.pruebaCaja{
  width: 100%;
  align-self: center;
  background-color: brown ;
  height: 100%;
}

.buttons_in{
  border-radius: 30px;
  background-color: #D9D9D9;
  padding-top: .5rem;
  padding-bottom: .5rem;
  width: 6.5rem;
  text-align: center;
  color:black;
  font-weight:bold;
}
/* .div-transformable {
  width: var(--tamaño-inicial);
  height: var(--tamaño-inicial);
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: width 0.3s, height 0.3s;
}

.div-transformable.transformado {
  width: var(--tamaño-transformado);
  height: var(--tamaño-transformado);
} */
