/* :root {
  --tamaño-inicial: 100px;
  --tamaño-transformado: 200px;
}
.div-transformable {
  width: var(--tamaño-inicial);
  height: var(--tamaño-inicial);
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: width 0.3s, height 0.3s;
}

.div-transformable.transformado {
  width: var(--tamaño-transformado);
  height: var(--tamaño-transformado);
} */
