.selector_{
  display: flex;
  flex-direction: row;
  background-color: #FCF7FF;
  margin-right: 0rem;
  padding: 0rem;
  height: 1.5rem;
  align-content: center;
  border-radius: .5rem;
  box-sizing: border-box;
  overflow: hidden;
  max-width: 10rem;
  width: 8rem;
  box-shadow: 0 0 10rem rgba(0, 0, 0, 100); 
}
.input_{
  border-radius: .5rem;
  width:6rem;
  text-decoration-line: none;
  border: none;
  outline: none;
  font-size: x-small;
}
.texto{
  
  /* background-color; */
  margin: 0;
  color: black;
  align-self: center;
  size: .8px;
  font-size: small;
  font-weight: 900;
  padding:.5rem;
  
  --gap:1rem;
}
.dropdown_li > a > span{
  display: flex;
  white-space: nowrap;
  min-width: 80%;
  font-size: small;
  /* background-color: antiquewhite; */
  overflow: hidden;
  text-overflow: inherit;
  
  max-width: 80%;
}


.dropdown_ul{
  
  height: 10rem;
  width: 8rem;
  background-color:#FCF7FF;
  display: flex;
  flex-direction: column;
  margin-top: .2rem;
  padding: .5rem;
  border-radius: .5rem;
  list-style: none;
  overflow-y: scroll;
  box-sizing: border-box;
}
.dropdown_li:hover{
  background: rgba(128, 128, 128,.3);

}

/* span:hover{
  --gap: 1rem;
  gap:var(--gap);
  animation: marquee 2s linear infinite;
}
@keyframes marquee{
  0%{
    transform: translate(0,0);
  }
  100%{
    transform: translate(calc(-200% - var(--gap)),0);
  }
} */

.color{
  background-color: red;
}
.circulo_padre{
  height: 100%;
  width: 100%;
  /* background-color: red; */
  position: relative;
  align-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
}
.circulo{
  width: .5rem;
  height: .5rem;
  /* align-self: center; */
  /* margin: .5rem; */
  /* align-self: center; */

  border-radius: 100%;
  border: .1rem solid black;
  /* background-color: red; */
  
}
.circulo.red{

  background-color: rgb(126, 233, 233);
}
.boton{
  border-radius: 100%;
  background-color: aqua;

}
.dropdown_li a{
  display: flex;
  align-items: center;
  position: relative;
  
}

.dropdown_li{
  position: relative;
  padding-left: .2rem;
  /* overflow-y: scroll; */
  width: 100%;
  text-decoration: none;
  outline: none;
  color: black;
  margin-bottom: .5rem;
  border-radius: .3rem;
  
}
.dropdown_li{
  /* overflow: hidden; */
  /* box-sizing: border-box; */
}
/* .dropdown_li::after{
  position: absolute;
  transform: translateX(-50%);
  transform: translateY(-50%);
  left: 0;
  top: 1.1rem;
  width: 100%;
  height: .1rem;
  content:"";
  border-radius: 1rem;
  background-color: gray;
} */
.dropdown_li a span{
  list-style: none;
  ;
}