:root {
  --tamano-inicial: 20%;
  --tamano-transformado: 8%;
  --color: yellow;
}



.main_{
  /* padding: 2rem; */
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2rem;
  /* justify-content: center; */
  overflow-y: scroll;
}
.maquetacion{
  height: 100%;
  position: relative;
  
  /* display: grid; */
  /* box-sizing: border-box; */
  /* overflow-y: scroll; */
  /* grid-template-columns: var(--tamano-inicial) auto; */
  /* grid-template-rows: 100% 100%; */
  /* height: 100%; */
  /* transition: grid-template-columns 0.5s ease; */
}

.sidebar_main .sidebar{
  overflow-y: scroll;
  box-sizing: border-box;
}
.sidebar_main{
  position: relative;
  box-sizing: border-box;
  /* overflow: hidden; */
  /* overflow-y: scroll; */

  /* grid-column: span 1; */
  /* grid-row: span 2; */
  /* background-color: lightgray; */
  /* padding: 1rem; */

  /* display: block; */
}

.main_{
  /* display: block; */
  /* grid-column: span 1; */
  /* grid-row: span 2; */
  /* background-color: lightblue; */
  overflow-y: scroll;
  background-color: gray;
  padding: 1rem;
  display: normal;
}
 
@media (min-width: 480px) {
  .maquetacion.toggle{
    display: grid;
    grid:
      "sidebar_main main_" 100% / 15rem auto;
    transition: grid 0.3s ease;
  }
  .maquetacion{
    display: grid;
    grid:
      "sidebar_main main_" 100% / 5rem auto;
    transition: grid 0.3s ease;
  }

  .maquetacion > .sidebar_main > .sidebar{
    height: 100%;
  }
  
}
@media (max-width: 480px) {
  .maquetacion{
    display: grid;
    grid:
      "sidebar_main" 3rem
      "main_" 1fr;
    transition: grid 0.3s ease;

  }
  .maquetacion.toggle{
    display: grid;
    grid:
      "sidebar_main" 3rem
      "main_" 1fr;
    transition: grid 0.3s ease;

  }

  /* .maquetacion{
    display: grid;
    grid:
      "sidebar_main" 100vh
      "main_" auto;
    transition: grid 0.3s ease;
  } */
 
  .maquetacion > .sidebar_main > .sidebar{
    height: 100%;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    transition: height .3s ease;
  }
  .maquetacion.toggle > .sidebar_main > .sidebar{
    height: 100vh;
    z-index: 1;
    position: absolute;
    transition: height .3s ease;
  }
   
  .main_{
    /* display: initial; */
    height: 100%;   
    padding: 0;
    display: normal;
    /* position: relative; */
    z-index: 0;

  }
}

/* @media screen and (max-with:1920px){
}
@media screen and (max-width:840px){
  .maquetacion{
    position: relative;
    display: grid;
    box-sizing: border-box;
    grid-template-rows: 5rem auto;
  }
} */
/* .maquetacion.toggle{
  display: grid;
  grid-template-columns: var(--tamano-transformado) auto;
  grid-template-rows: 100vh;
} */
body{
  /* background-color: hsl(300, 100%, 25%); */
}
h3{
  color: var(--color);
}
.pruebaCaja{
  width: 100%;
  align-self: center;
  background-color: brown ;
  height: 100%;
}

.buttons_in{
  border-radius: 30px;
  background-color: #D9D9D9;
  padding-top: .5rem;
  padding-bottom: .5rem;
  width: 6.5rem;
  text-align: center;
  color:black;
  font-weight:bold;
}
/* .div-transformable {
  width: var(--tamaño-inicial);
  height: var(--tamaño-inicial);
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: width 0.3s, height 0.3s;
}

.div-transformable.transformado {
  width: var(--tamaño-transformado);
  height: var(--tamaño-transformado);
} */
