/* .heading{
  display: flex;
  background-color: rgb(56, 54, 54);
  box-shadow: 0px 1px 2px rgb(56, 54, 54);
} */
h1{
  color:coral;
  font-weight:bold;
  font-family: Arial, Helvetica, sans-serif;
  background: transparent;
  /* padding: 7px; */
}
table{
  /* border:1px solid black; */
  border-collapse: separate;
  border-spacing: 0px;
  /* width: 50%; */

}
th{
  position: sticky;
  top:0px;
  background-color: white;
  color: black;

}
.first-column{
  position: sticky;
  top:50px;
}
.bloque{
  display: flex;
}
.table-wrapper{
  width: 50%;
  height: 60%;
  border: 1px solid blue;
  overflow-y: scroll;
  /* margin: 2rem; */
  background-color:aliceblue;
  align-self: self-end;
  justify-self: center;
}
.outer-wrapper{
  /* border: 1px solid black; */
  /* box-shadow: 0px 0px 3px black; */
  /* margin:20px; */
  /* height: 50%; */
  /* width: 50%; */
  background-color: purple;
  display: flex;
  /* align-items: end; */
  padding-bottom: 2rem;
  padding-bottom:1.5rem;
  justify-content:center;
  /* justify-self: center ; */
  /* align-content: center; */
  /* border-radius: 20rem; */
  box-sizing: border-box;
}
th,td{
  /* border: 1px 0px  solid black;
  box-shadow: 0px 0px 0px black;
  margin:20px;
  /* border-radius:5px; */
  color: black;
  padding: 10px;
}
td{
  /* border-bottom: 2px solid black; */
  border-bottom: .1rem solid black;
}
