ol{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7,1fr);
}
.fist-day{
  grid-column-start: 5;
}

.day-name{
  background-color: aquamarine;
  font-weight: bold;
  text-align: center;
}
.calendar_body{
  display: flex;
  flex-direction: column;
  /* align-items: last baseline; */
  justify-content: left;
  /* padding-left: 3rem; */
  /* padding-right: 3rem; */
  
}

ol{
  /* overflow-x: scroll; */
}
@media (max-width: 480px) {
  .calendario{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7,1fr);
  }
  .fist-day{
    grid-column-start: 5;
  }
  .reservation_body{
    /* padding:2rem; */
    /* overflow-x: scroll; */
    width:100%;
    box-sizing: border-box;
    height: 100%;
    background-color: rgb(85, 4, 4);

  }
  .calendario{
    width: 100%;
    padding: 0;
  }
  .calendar_body > ol > li:not(.day-name){
    background-color: rgb(8, 74, 52);
    width: 100%;
    height: 3.5rem;
  }
}